<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pet.name %> </title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
    <h1><%= pet.name %> <a href="/pet/<%= pet.id %>/edit">edit</a></h1>
    <p>You are viewing <%= pet.name %> </p>
</body>
</html>